.info-bubble {
    display: none;
    position: absolute;
    background-color: #19f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

#password {
    position: relative;
}

#password:hover .info-bubble {
    display: block;
}
.rounded-box {
    border: 2px solid deepskyblue;
    border-radius: 10px;
    padding: 20px;
    background: whitesmoke;
    text : white;
}

body{
    center : all;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.alert-danger{

}

