.info-bubble {
    display: none;
    position: absolute;
    background-color: #0f94b4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

#password {
    position: relative;
}

#password:hover .info-bubble {
    display: block;
}
.rounded-box {
    border: 2px solid deepskyblue;
    border-radius: 5px;
    background: whitesmoke;
    text : white;
    text-align: center;
    padding: 20px;
    width: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.alert-danger{

}

.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.bottomBanner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}
