.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.bottomBanner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;


}

.bottomBanner .buttonActivationCandidates {
    position: relative;
    left: 1270px; /* Espace à droite par rapport au bord droit du footer */
}



.affichage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espace entre les éléments */
}


.candidates {
    flex-basis: calc(33% - 10px); /* Largeur de chaque élément (50% - espacement) */
    padding: 10px; /* Espacement interne pour chaque élément */
    border: 1px solid #ccc; /* Bordure pour séparer les éléments (facultatif) */
    background: #eee;
    border-radius: 5px;
}


section.filtreCandidats{
    width: auto;
    padding: 10px;
    margin: 10px;
    background: #0f94b4;
    border: 1px;
    border-radius: 5px;
}

/* styles.css */
.filtreCandidats {
    display: flex; /* Utilisez un conteneur flex pour aligner les éléments horizontalement */
    align-items: center; /* Centrez verticalement les éléments dans le conteneur */

}

.filtreCandidats form {
    width: 100%;
    display: flex;
    align-items: center;
}

.filtreCandidats div.checkbox {
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.checkbox label {
    margin: 5px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.selection {
    width : 30%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.selection label {
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.formName{
    display: flex;
    align-items: center;
    width: 50%;

}

.filtreCandidats div.buttonSubmit{
    margin-left: 140px;
}



.filtreCandidats label {
    color: #eeeeee;
}


/*
Code repris du site : https://stackoverflow.com/questions/17714705/how-to-use-checkbox-inside-select-option
 */

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes-container {
    display: none;
    border: 1px #dadada solid;
}

.checkboxes-container label {
    display: block;
}

.checkboxes-container label:hover {
    background-color: #1e90ff;
}










