.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.bottomBanner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;


}

.affichage form {
    display: flex;
    flex-direction: column;
}

.affichage p.candidates{
    width: 500px;
    padding: 20px;
    background: #eee;
    border: 1px solid ;
    border-radius: 5px;
    margin: 10px;

}


section.filtreCandidats{
    width: auto;
    padding: 10px;
    margin: 10px;
    background: #0f94b4;
    border: 1px;
    border-radius: 5px;
}

/* styles.css */
.filtreCandidats {
    display: flex; /* Utilisez un conteneur flex pour aligner les éléments horizontalement */
    align-items: center; /* Centrez verticalement les éléments dans le conteneur */

}

.filtreCandidats form {
    width: 100%;
    display: flex;
    align-items: center;
}

.filtreCandidats div.checkbox {
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.checkbox label {
    margin: 5px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.selection {
    width : 30%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.selection label {
    margin: 10px;
    display: flex;
    align-items: center;
}

.filtreCandidats div.formName{
    display: flex;
    align-items: center;
    width: 50%;

}

.filtreCandidats div.buttonSubmit{
    margin-left: 140px;
}



.filtreCandidats label {
    color: #eeeeee;
}










