/* Reset some default browser styles /
*/
body, h1, h2, p, form, input, label, select, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}


.banner {
    background-color: #0f94b4;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.btn-light {
    background-color: #fff;
    color: #3498db;
}

.rounded-box {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.info-bubble {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.btn-outline-primary {
    border: 2px solid #3498db;
    color: #3498db;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.bottomBanner {
    background-color: #0f94b4;
    color: #fff;
    text-align: center;
    padding: 10px;

    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .rounded-box {
        margin: 10px;
    }
}