.bas{
    margin-top: 150px;
}

.nomFooter{
    background: #0f94b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font: 15px/18px sans-serif;
}
.origineFooter{
    background: #0f94b4;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 3vh;
    font: 15px/18px sans-serif;

}


section.haut{
    background: #0f94b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font: 15px/18px sans-serif;
}

.rounded-box {
    width: 300px;
    height: 170px;
    background-color: #3498db;

    margin: 10px;
}

.affichEtu{
    display: flex;
    flex-wrap: wrap;
}

.notSearch{
    color:red;
}
.isSearch{
    color:green;
}

.active {
    background-color: lightgreen;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.active:hover {
    background-color: darkgreen;
}


.desactive {
    background-color: lightcoral;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.desactive:hover {
    background-color: darkred;
}
