body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.alert{
    min-height: 10%;
    max-height: 40%;
    border: 2px solid;
    margin-bottom: 2%;

}

.affichage{
    flex: 2;
    height: 50%;

}

.gestion {
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}



.bas{
    width: 100%;
    flex-shrink: 0%;
}
.nomFooter{
    background: #0f94b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font: 15px/18px sans-serif;
}
.origineFooter{
    background: #0f94b4;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 3vh;
    font: 15px/18px sans-serif;

}

textarea[name=note]
{
    resize : both;
    min-width : 60%;
    min-height: 75px;

}
footer {
    background: #0f94b4;
    margin-top: auto;
    padding: 10px;
}

