.info-bubble {
    display: none;
    position: absolute;
    background-color: #0f94b4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}


.rounded-box {
    border: 2px solid deepskyblue;
    border-radius: 10px;
    padding: 20px;
    background: whitesmoke;
    text : white;
}
body{

    center : all;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}
div.alert-danger{

}

.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.bottomBanner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;


}

.titre{
    .titre {
        vertical-align: top;
        margin: 0;
    }
}

