/* Reset some default styles */
body, h1, h2, h3, p, label, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.banner {
    background-color: #0f94b4;
    color: white;
    text-align: center;
    padding: 10px;
}

.btn-light {
    background-color: #ffffff;
    color: #007BFF;
}

.btn-light:hover {
    background-color: #007BFF;
    color: white;
}

.btn {
    margin: 5px;
}

.rounded-box {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
}

.label-select-all {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formInscription {
    margin: 20px;
}

.alert {
    margin-top: 10px;
}

.bottomBanner {
    background-color: #0f94b4;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nomFooter, .origineFooter {
    margin: 5px;
}
