
.alert{
    border-style: solid;
}

.gestion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#show, #add {
    flex: 1;
}

.banner h1 {
    font-size: 30px;
    color: #eeeeee;
}

.banner{
    background: #0f94b4;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}



.bas{
    position: relative;
    bottom: 0;
    width: 100%;
}
.nomFooter{
    background: #0f94b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font: 15px/18px sans-serif;
}
.origineFooter{
    background: #0f94b4;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 3vh;
    font: 15px/18px sans-serif;

}